<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="FatecMobileConfig" type="Fatec.Core.Infrastructure.Configuration.FatecMobileConfig, Fatec.Core" requirePermission="false" />
	</configSections>

	<FatecMobileConfig>
		<Sharepoint DefaultUrl="http://www.fatecpg.com.br" Username="f0713376" Password="tibis159" />
		<Domain Name="fatecpg.local" />
	</FatecMobileConfig>
</configuration>