@using Fatec.Core
@model IEnumerable<KeyMovementModel>

@{
	ViewBag.Title = "Busca";
	ViewBag.Highlight = "busca";
	ViewBag.AdditionalPageInfo = " de professores";
}

@Html.ValidationSummary()

@foreach (var movement in Model)
{
    <div class="post">
        <div class="inner-post">
            <h1 class="post-title post-title-black">
                @movement.Requester
            </h1>
            <div class="post-meta">
                <p>
                    <span class="post-date">@movement.Key</span>
                </p>
            </div>
        </div>
    </div>
}
