@{
    ViewBag.Title = "Sobre";
    ViewBag.Highlight = "história";
    ViewBag.AdditionalPageInfo = " CEETESP praia grande";
}

<div class="wrap">
    <div class="post">
        <div class="inner-post">
            <h1 class="post-title post-title-black">
                <span>Sobre o Município de Praia Grande</span>
            </h1>
            <div class="post-summary">
                <p>O município de Praia Grande possui uma população fixa de 193.582 habitantes. A área do município é de 145 km² e altitude de 5 m (nível do mar), sendo 88,55 km² de área urbana e 55,45 km² distribuídos entre os parques estaduais da Serra do Mar, do Xixová, do Piaçabuçu, a costa marítima e a orla marítima.</p>

                <p>Em função desta distribuição percebe-se que as principais atividades no município são o comércio e o turismo.</p>

                <p>Peabuçu foi o primeiro nome dado a Praia Grande, vindo do Tupi: Porto Grande.</p>

                <p>O povoamento de Peabuçu começa um ano após o desembarque no Brasil do fidalgo administrador português Martim Afonso de Souza, data esta, 1532, que também marca o início da colonização portuguesa do nosso país.</p>

                <p>Pertenceu ao município vizinho, São Vicente, primeira vila brasileira como bairro da área continental, até sua emancipação politico administrativa, que só foi acontecer em 19 de janeiro de 1967.</p>
            </div>
            <h1 class="post-title">
                <span>Descrição Histórica</span>
            </h1>
            <div class="post-summary">
                <p>Faculdade de Tecnologia de Praia Grande, iniciou suas atividades acadêmicas em 03 de setembro de 2002, oferecendo aos munícipes 80 (oitenta vagas) para o curso de Tecnologia em Informática – Ênfase em Gestão de Negócios sendo 40 para o turno vespertino e 40 vagas para o turno noturno.</p>

                <p>partir de 11 de março de 2003, iniciaram-se as atividades da Escola Técnica Estadual “Adolfo Berezin” – Extensão Praia Grande, oferecendo 120 vagas para os cursos Técnico em Informática e Técnico em Logística.</p>

                <p>Em março de 2003, em parceria com o IPEN/CEETEPS, iniciamos as atividades de Pós-Graduação Lato Sensu, oferecendo o curso de Gestão Empresarial, Formação de Gestores Educacionais, Consultoria Web, Gestão da Qualidade na Construção Civil e Energia e Meio Ambiente.</p>

                <p>Em 02 de março de 2006 através do decreto do governador do estado de São Paulo, sr. Geraldo Alckmin, número 50.577, publicado no D.O.E. seção 01 página 03, a unidade de Praia Grande deixa de ser extensão da Faculdade de Tecnologia da Baixada Santista passando a ser denominada Faculdade de Tecnologia de Praia Grande.</p>

                <p>Em 01 de agosto de 2006 iniciaram-se as atividades do curso Técnico em Farmácia oferecendo 40 vagas no período noturno. Em agosto de 2008, iniciaram-se as atividades do curso Técnico em Contabilidade oferencendo 40 vagas no período matutino. Em fevereiro de 2009 iniciaram-se as atividades dos cursos de Técnico em Serviços Imobiliários e Agente Comunitário.</p>

                <p>Em fevereiro de 2009 iniciaram-se as atividades do curso de graduação em Tecnologia em Comércio Exterior.</p>

                <p>Desta forma, a FATEC/PG, vem atendendo os três níveis de educação, ou seja, Técnico, Tecnológico e Pós Graduação, atendendo aproximadamente um total de 800 alunos somados os períodos manhã, tarde e noite.</p>

                <p>Fatec  Praia Grande tem como missão formar profissionais competentes e éticos, capazes de enfrentar desafios na busca do desenvolvimento tecnológico, social e econômico e para isso utiliza o slogan: “Compromisso e Respeito com o Aluno e a Comunidade”.</p>

                <p>Por ser uma Instituição compromissada com o aluno e a comunidade, nos períodos de férias das atividades didáticas, a FATEC-PG, oferece cursos de Verão e Inverno direcionado ao aperfeiçoamento tecnológico dos munícipes, ainda, na semana do aniversário realiza Workshop de Tecnologia da Informação, que tem como objetivo a atualização tecnológica dos alunos, professores e comunidade em geral.</p>
            </div>
            <h1 class="post-title">
                <span>Localização</span>
            </h1>
            <div class="post-summary">
                <br />
                <b>Endereço: </b>Praça 19 de janeiro, 144 - Praia Grande - São Paulo - Cep: 11700-100<br />
                <b>Telefones: </b>(13) 3591-1303 (13) 3591-6968<br /><br />
                <iframe width="562" height="314" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=faculdade+de+tecnologia+de+praia+grande&amp;sll=-23.978039,-46.315562&amp;sspn=0.246564,0.308647&amp;ie=UTF8&amp;hq=faculdade+de+tecnologia+de+praia+grande&amp;hnear=&amp;layer=c&amp;cbll=-24.005343,-46.412487&amp;panoid=myqYGYYAF_mzIj6fhP0Tqw&amp;cbp=13,51.7,,0,4.6&amp;ll=-24.005343,-46.412487&amp;spn=0,0.385895&amp;z=11&amp;output=svembed"></iframe>
            </div>
            <h1 class="post-title">
                <span>Mapa</span>
            </h1>
            <div class="post-summary">
                <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=faculdade+de+tecnologia+de+praia+grande&amp;sll=-23.978039,-46.315562&amp;sspn=0.246564,0.308647&amp;ie=UTF8&amp;hq=faculdade+de+tecnologia+de+praia+grande&amp;hnear=&amp;cid=2817815072579807006&amp;ll=-23.998564,-46.410799&amp;spn=0.037637,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</div>
