@{
    ViewBag.Title = "";
}

<div class="error-container">
    <p class="error-message">Ops, não encontramos a URL que você solicitou... :-(</p>
    <p>* Se você digitou a URL na barra de endereço, talvez tenha sido um erro de digitação.</p>
    <p>* Se você seguiu um link, este provavelmente está quebrado.</p>
    <p>* Caso não tenha certeza sobre o que você esta procurando, <a href="/">clique aqui para voltar para <b>home</b></a></p>
</div>
