@{
    ViewBag.Title = "DTI&C - FATEC PG - Mobile";
}
<div id="menu" class="box">
    <ul>
        <li>
            <a href="@Url.Action("Avisos")">
                <img src="Content/Resources/Images/news.png" alt="Avisos" />
                Avisos
            </a>
        </li>
    </ul>
</div>