@{
    ViewBag.Title = "Feedback";
    ViewBag.Highlight = "feedback";
    ViewBag.AdditionalPageInfo = ", sugestões e críticas";
}

<h2>Seu feedback foi enviado com sucesso!</h2>
<p>Obrigado :-)</p>
<p><a href="/">Clique aqui para voltar para a <b>home</b></a></p>
