@{
    ViewBag.Title = "Feedback";
    ViewBag.Highlight = "feedback";
    ViewBag.AdditionalPageInfo = ", comentários e sugestões";
}

<h2>Feedback enviado com sucesso!</h2>
<p>Obrigado por enviar sua opinião :-)</p>
<p><a href="/">Clique aqui para voltar para a <b>home</b></a></p>

