@{
    ViewBag.Title = "Sobre";
    ViewBag.Highlight = "sobre";
    ViewBag.AdditionalPageInfo = " o site";
}

<div class="about-container">
    <h3>FATEC PG Mobile Site</h3>

    <br />

    <p><b>Desenvolvido por:</b> Vitor Hugo Salgado</p>

    <br />

    <p>
        <a href="http://www.facebook.com/vtrsalgado"><img src="/content/images/facebook-black.png" /></a>
        <a href="http://br.linkedin.com/in/vitorsalgado/"> <img src="/content/images/linkedin-black.png" /></a>
        <a href="https://github.com/vitorsalgado"> <img src="/content/images/github-black.png" /></a>
    </p>

    <br />

    <p><b>Versão: </b>1.0 - 2014</p>
    <p><b>Desenvolvido em C#</b></p>
    <p><a href="https://github.com/vitorsalgado/fatec-mobile"><b>Código-fonte no GitHub</b></a></p>

    <br />

    <p><b><a href="/">Comentários / Sugestões / Feedback</a></b></p>

    <br />

    <p>Este site foi desenvolvido como um estudo de caso para o meu TCC, apresentado no final do segundo semestre de 2013, com o título: <em>Aplicações Web com ASP.NET MVC 4 Estudo de Caso Site FATEC PG Mobile.</em></p>
    <p>O código fonte da aplicação é aberto e esta disponível para todos na internet através do site GitHub. Todos que desejarem podem realizar o download do código-fonte ou contribuir com melhorias ao sistema através do GitHub.</p>

    <br />

    <p><b><a href="https://github.com/vitorsalgado/fatec-mobile">Código-fonte no GitHub</a></b></p>

    <br />

    <p><b><a href="@Url.RouteUrl("Feedback")">Comentários / Sugestões / Feedback</a></b></p>
</div>
