@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Erro";
	ViewBag.AdditionalPageInfo = "FATEC Praia Grande";
}

<div>
    <p>Ops, desculpe mas ocorreu um erro no sistema... :-(</p>
    <p><b>Id: </b></p>
</div>
