@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Erro";
	ViewBag.AdditionalPageInfo = "FATEC Praia Grande";
}

<div id="error">
    <h2 class="error-title">Desculpe, mas ocorreu um erro inesperado no sistema...</h2>
    <h3>Por favor, informe o Departamento de Tecnologia sobre este problema, para que possamos resolve-lo o mais rápido possível.</h3>
    <h3>
        <a href="javascript:history.go(-1);">Clique para voltar à página anterior</a>
    </h3>
</div>