@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Erro";
    ViewBag.AdditionalPageInfo = "FATEC Praia Grande";
}

<div class="error-container">
    <p class="erro-message">Ops, desculpe mas ocorreu um erro no sistema... :-(</p>
    <p><a href="/">Clique aqui para voltar para a <b>home</b></a></p>
</div>
