@using Fatec.MobileUI;
@using Fatec.Core;
@model List<Fatec.MobileUI.ViewModels.AnnouncementsModel>

@Html.ValidationSummary()

@foreach (var aviso in Model)
{
    <div class="post">
        <div class="inner-post">
            <h1 class="post-title post-title-black">
                @Html.RouteLink(aviso.Titulo, "noticias-detalhe", new { id = aviso.Id, titulo = WebHelper.ToSeoFriendly(aviso.Titulo) })
            </h1>
            <div class="post-meta">
                <p>
                    <span class="post-date">
                        Em: <span class="date">@aviso.CriadoEm</span>
                    </span>
                    <span class="space">·</span>
                    <span class="post-owner">
                        Por: <span class="owner">@aviso.CriadoPor</span>
                    </span>
                </p>
            </div>
        </div>
    </div>
}
