@using Fatec.MobileUI;
@using Fatec.Core;
@model List<NewsModel>

@Html.ValidationSummary()

@foreach (var aviso in Model)
{
    <div class="post">
        <div class="inner-post">
            <h1 class="post-title">
                @Html.RouteLink(aviso.Title, "noticias-detalhe", new { id = aviso.Id, titulo = WebHelper.ToSeoFriendly(aviso.Title), assunto = aviso.Subject })
            </h1>
            <div class="post-meta">
                <p>
                    <span class="post-date">
                        Em: <span class="date">@aviso.CreatedOn</span>
                    </span>
                    <span class="space">·</span>
                    <span class="post-owner">
                        Por: <span class="owner">@aviso.CreatedBy</span>
                    </span>
                </p>
            </div>
        </div>
    </div>
}
