<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fatec.Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fatec.Repository.Properties.Settings>
            <setting name="Fatec_Data_SharePoint_Lists_Lists" serializeAs="String">
                <value>http://www.fatecpg.com.br/_vti_bin/lists.asmx</value>
            </setting>
        </Fatec.Repository.Properties.Settings>
    </applicationSettings>
</configuration>